@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
  --whiteColor: #ffffff;
  --blackColor: #151515;
  --primaryColor: #b25070;
  --secondaryColor: #bea352;
  --tertiaryColor: #002147;
  --quaternaryColor: #151515;
  --quinaryColor: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
  --shadow: rgba(0, 0, 0, 0.15);
  --whiteShadow: rgba(255, 255, 255, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--blackColor);
  font-size: 16px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  color: var(--primaryColor);
  font-family: "Cinzel", serif;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// h1,
// h2,
// h3 {
//   text-decoration: underline;
//   text-decoration-color: var(--secondaryColor);
//   text-underline-offset: 0.5rem;
//   text-decoration-thickness: 0.15rem;
// }

.feature-title {
  color: var(--primaryColor);
  text-decoration: underline;
  text-decoration-color: var(--secondaryColor);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;

  @media screen and (min-width: 768px) {
    text-underline-offset: 1rem;
  }
}

.feature-title-photo {
  color: var(--whiteColor);
  text-decoration: underline;
  text-decoration-color: var(--secondaryColor);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;

  @media screen and (min-width: 768px) {
    color: var(--primaryColor);
    text-underline-offset: 1rem;
  }
}

.feature-subtitle {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--colorWhite);
  margin-bottom: 0;
}

.single-post-title {
  font-size: 2rem;
  line-height: 1.6;
  text-underline-offset: 0.5rem;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
    max-width: 95%;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

textarea {
  resize: none;
}

.h-108 {
  height: 34rem;
}

.h-three-fifths {
  height: 380px;

  @media screen and (min-width: 768px) {
    height: 60vh;
    min-height: 500px;
  }
}

.h-three-fifths-md {
  @media screen and (min-width: 768px) {
    height: 60vh;
    min-height: 500px;
  }
}

.scroll-down {
  font-family: "Cinzel", serif;
}

.scroll-up {
  font-family: "Cinzel", serif;
  right: 0.5rem;

  @media screen and (min-width: 768px) {
    right: 1.25rem;
  }

  @media screen and (min-width: 1280px) {
    right: calc(50vw - 640px);
  }
}

.chameleonText {
  mix-blend-mode: exclusion;
}

.hide {
  display: none;
}

.white-shade {
  position: relative;
  z-index: 0;
}

.hero {
  min-height: 40rem;
}

.border-bottom-gold {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    width: 90%;
    background-color: var(--secondaryColor);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.silver-shade {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: silver;
    opacity: 0.25;
  }

  & > *:not(.absolute) {
    position: relative;
    z-index: 1;
  }
}

.black-shade--full,
.black-shade,
.white-shade--full {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blackColor);
    opacity: 0.15;
  }

  & > *:not(.absolute) {
    position: relative;
    z-index: 1;
  }
}

.black-shade {
  @media screen and (min-width: 768px) {
    &::after {
      display: none;
    }
  }
}

.white-shade--full {
  &::after {
    background-color: var(--whiteColor);
  }
}

.hero-shade {
  &::after {
    @media screen and (min-width: 768px) {
      border-radius: 0 0 500px 0;
    }
  }
}

.rounded-br-special {
  @media screen and (min-width: 768px) {
    border-radius: 0 0 500px 0;
  }
}

.white-shade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--whiteShadow);
  z-index: 1;
}

.shade-rounded {
  position: relative;
  z-index: 0;
}

.shade-rounded::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  border-radius: 0.5rem;
  z-index: 1;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
}

.link-underline,
.link-underline-animate,
.link-underline-active,
.link-underline-alternate {
  position: relative;
  padding-bottom: 0.25rem;
}

.link-underline::before,
.link-underline-animate::before,
.link-underline-active::before,
.link-underline-alternate::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondaryColor);
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 0.3s ease-in-out;
}

.link-underline-alternate::before {
  background-color: var(--primaryColor);
}

.link-underline-animate {
  position: absolute;
  overflow: hidden;
}

.link-underline-animate::before {
  animation: scrollingUnderline 1.25s infinite ease-in-out;
  z-index: 10;
}

.link-underline-animate:hover::before {
  animation: none;
  transform: scaleX(1);
}

.link-underline:hover::before,
.link-underline-active::before,
.link-underline-alternate:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.3s ease-in-out;
}

.link-hover-animated {
  transform: translateY(0);
  animation: hover infinite 1.5s;
}

.decoration-secondary {
  text-decoration-color: var(--secondaryColor);
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h1.feature-title {
    text-underline-offset: 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}

.hover-text-white {
  &:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--whiteColor);
    }
  }
}

.burger-menu {
  svg {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
  }
}

.width-offset {
  width: calc(50vw - 600px);
}

.mejor-opcion {
  position: relative;
  text-align: left;
}

.mejor-opcion::after {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  text-align: center;
  font-size: 1.25rem;
  content: " ";
  background-color: var(--quinaryColor);
  color: var(--whiteColor);
  border-radius: 5rem;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .mejor-opcion::after {
    display: block;
  }
}

.grecaptcha-badge {
  display: none;
}

@keyframes scrollingUnderline {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.max-w-xxs {
  max-width: 220px;
}

// Splide carousel styles

.splide {
  padding: 0 2rem;
}

.splide__arrow--next.carousel-next {
  right: 0;
}

.splide__arrow--prev.carousel-prev {
  left: 0;
}

.carousel-arrow.splide__arrow {
  background-color: var(--secondaryColor);
  svg {
    fill: var(--whiteColor);
  }
}

// Markdown styles

.markdown-styles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: none;
    margin: 2rem 0 1rem;
    padding-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  u {
    text-decoration-color: var(--secondaryColor);
  }

  a {
    cursor: pointer;
    color: var(--secondaryColor);
    text-decoration-color: var(--secondaryColor);

    &:hover {
      color: var(--primaryColor);
      text-decoration-color: var(--primaryColor);
    }
  }

  ul {
    margin: 2rem 0;

    li {
      position: relative;
      padding-left: 2rem;

      &::before {
        position: absolute;
        left: 0;
        top: calc(50% - 0.25rem);
        height: 0.5rem;
        width: 0.5rem;
        min-width: 0.5rem;
        content: "";
        background-color: var(--secondaryColor);
        border-radius: 100%;
      }
    }
  }

  ol {
    counter-reset: dqueens-counter;
    margin: 2rem 0;

    li {
      position: relative;
      padding-left: 2rem;
      counter-increment: dqueens-counter;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        font-family: "Cinzel", serif;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--secondaryColor);
        content: counter(dqueens-counter) ".";
      }
    }
  }

  img {
    margin: 2rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}
